:host
  position: fixed
  width: 100%
  height: 100%
  display: grid
  grid-auto-rows: min-content
  grid-template-rows: min-content auto
  grid-gap: 1em
  align-items: center
  position: relative
  background: #210741
  box-sizing: border-box
  padding: 1em 1em 0 1em
  background-image: url('bg_grid_static.png')
  background-repeat: no-repeat
  background-size: cover

  button.play
    background: var(--unstarted-bg)
    color: var(--unstarted-color)
    --pulse-color: var(--unstarted-bg)

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 var(--pulse-color)

.buttons
  display: grid
  grid-auto-flow: column
  grid-gap: 1em
  z-index: 4
  i
    font-family: 'Material Icons'
    font-style: normal

button.play
  display: flex
  align-items: center
  justify-content: center
  padding: .25em
  min-width: 50px
  max-width: 50px
  font-size: 1.5em
  border: none
  border-radius: 2px
  cursor: pointer
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .5)
  &.clicked
    animation: pulse 1s
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0)
  &:focus
    outline: none

:host(:not([state='playing']))
  i.play
    display: block
  i.pause
    display: none

:host([state='playing'])
  i.play
    display: none
  button.play
    background: var(--playing-bg)
    color: var(--playing-color)
    --pulse-color: var(--playing-bg)

:host([state='paused'])
  button.play
    background: var(--paused-bg)
    color: var(--paused-color)
    --pulse-color: var(--paused-bg)

.creds
  position: absolute
  bottom: 0
  right: 0
  box-sizing: border-box
  padding .5em 27px 19px
  cursor: pointer
  z-index: 5
  a
    display: grid
    grid-auto-flow: column
    grid-gap: .25em
  a,
  a:visited
    font-family: 'Comfortaa'
    font-size: .7em
    text-decoration: none
    span
      transition: all .5s ease
      color: rgba(182, 197, 222, .75)
  &:hover
    span:first-of-type
      opacity: .75
    span:last-of-type
      color: rgba(7, 187, 242, 1)

@media (max-width: 640px)
  .creds
    padding: .25em
    a
      font-size: .7em
