style= require('./frequencies.styl')

.ssky
  .image.animated
  .image.static

.sun

.buttons
  button.play((click)=this.startOrPause())
    i.material-icons.play play_arrow
    i.material-icons.pause pause

if graphicsMode === 'canvas'
  canvas
else
  .bars
    each bar, index in [0,1,2,3,4,5,6,7]
      .bar(index=index)
        each block in [0,1,2,3,4,5,6,7]
          span(index=block)

.creds
  a(href="http://www.instagram.com/dotdotdotpix", target="_blank")
    span Animation by
    span dotdotdotpix
