style= require('./frequencies.styl')

.buttons
  button.play((click)=this.audioService.togglePlay())
    i.material-icons.play play_arrow
    i.material-icons.pause pause

ss-pixi(
  colors=window.JSON.stringify(this.colors)
)

.creds
  a(href="http://www.instagram.com/dotdotdotpix", target="_blank")
    span Animation by
    span dotdotdotpix
