.ssky
  img.animated(src='/ssky_animated.gif')
  img.static(src='/ssky_static.png')

.sun

.buttons
  button.play
    i.material-icons.play play_arrow
    i.material-icons.pause pause

.bars
  each bar, index in [0,1,2,3,4,5,6,7]
    .bar(index=index)
      each block in [7,6,5,4,3,2,1,0]
        .block(index=block)

.creds
  a(href="http://www.instagram.com/dotdotdotpix", target="_blank")
    span Animation by
    span dotdotdotpix
